body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: cornsilk;
}
#menu {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}
button {
    background-color: #d5f9ff;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}